/* This css file is only for home page */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.product-card {
    width: 200px;
    height: 270px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.product-card a {
    text-decoration: none;
}
.product-img {
    width:100%; 
    height:auto;
}
.product-desc {
    font-size: small; 
    color: grey;
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.product-price {
    color: #e31837; 
    font-weight: bold;
    position: absolute; 
    bottom: -10px; 
    left: 10px;
}
.original-price {
    text-decoration: line-through;
    color: grey;
    position: absolute;
    bottom: -10px;
    right: 10px;
}